POSTHOG_API_KEY=phc_1QESJnooazQL1uOeDvl3yh2KJQWBXbWwm4ZjGyvUn3N # <-- WKLEJ SWÓJ PRAWDZIWY KLUCZ TUTAJ
POSTHOG_HOST=https://app.posthog.com
ANALYTICS_ENABLED=true
APP_VERSION=1.0.0
ENVIRONMENT=development
